@media (orientation: landscape) {

    #titulo {
        visibility: hidden;
    }
    
}

ion-toolbar {

    color: white;
    --ion-background-color: #03a9f4;

}

ion-grid {
    background-color: #b3e5fc;
}

ion-card-content{
    background-color: white;
}

.modelo {

    color: white;
    --ion-background-color: #03a9f4;
    --ion-font-family: "Helvetica Neue";

}

h2 {
    margin-top: 11px;
}




