@media (orientation: landscape) {

    #titulo {
        visibility: collapse;
        height: 0px;
    }
    
}

@media (max-width: 1000px) {
    .buscador {
        --ion-background-color: #0d47a1;
        color: white;
    }
}

ion-toolbar {

    color: white;
    --ion-background-color: #03a9f4;

}

ion-grid {
    background-color: #b3e5fc;
}

ion-card-content{
    background-color: white;
}

.modelo {

    color: white;
    --ion-background-color: #03a9f4;
    --ion-font-family: "Helvetica Neue";

}

h2 {
    margin-top: 11px;
}




